<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="FakeHNConnectionString" connectionString="Data Source=.\127.0.0.1; Integrated Security=true;Initial Catalog=normalpe_FakeHN;User ID=normalpe_fakehn;Password=Qfcvar8cHasan;" />
	</connectionStrings>
</configuration>